language: go
go:
- 1.x
addons:
  apt:
    packages:
    # needed for the nfpm pipe:
    - rpm
env:
# needed for the snap pipe:
- PATH=/snap/bin:$PATH

install:
# needed for the snap pipe:
- sudo snap install snapcraft --classic

# needed for the docker pipe
services:
- docker

script:
- go test ./...
- go build -v ./ && mv ITDNS ITDNS-linux-amd64
- GOARCH=arm go build -v ./ && mv ITDNS ITDNS-linux-arm
- GOARCH=arm64 go build -v ./ && mv ITDNS ITDNS-linux-arm64

after_success:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

# calls goreleaser
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux